<link rel="stylesheet" href="/css/header.css" type="text/css">


<div class="title-container">
    <img src="/images/logo.png" alt="Logo" width="159" height="124">
    <h2 class="title">TANGRAM</h2>
    <small class="page"><%= title %></small>
</div>