<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/developers.css" type="text/css">

    <body>
        <%- include('./partials/menu.ejs') %>

        <!-- main content with header and developer info -->
        <div class="container">
            <%- include('./partials/header.ejs') %>

                <div class="developer-container">

                    <div class="sub-container">
                        <img src="https://pbs.twimg.com/media/D2lKatmWkAAOhoa?format=jpg&name=medium" alt="dev-pic"
                            class="dev-img" width="200" height="200">
                        <h1 class="dev-title">Fatih Genç</h1>
                        <p class="dev-info">
                            Merhabalar, ben bu uygulamanın yani Tangram oyununun geliştiricisi Fatih Genç. 21 yaşındayım
                            ve şu anda Manisa Celal Bayar Üniversitesi yazılım mühendisliği bölümü 3.sınıf öğrencisiyim.
                            Genellikle web uygulamalarıyla ilgileniyorum ve daha çok back-end uygulamaları geliştirmeye
                            çalışıyorum.
                        </p>
                    </div>
                </div>
        </div>
        <!-- main content end -->

        <script src="/js/menu-operations.js" defer></script>
    </body>

</html>