<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<link rel="stylesheet" href="/css/help.css">
<body>
    <%- include('./partials/menu.ejs') %>

    <div class="container">
        <%- include('./partials/header.ejs') %>

        <%- include('./partials/footer.ejs') %>
    </div>

    
    <script src="/js/menu-operations.js" defer></script>
</body>
</html>