<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<link rel="stylesheet" href="/css/help.css">
<body>
    <%- include('./partials/menu.ejs') %>

    <div class="container">
        <%- include('./partials/header.ejs') %>

        <div class="help-container">
            <details>
                <summary>Tangram Nedir?</summary>
                <p>Tangram, taş, kemik, plastik veya tahtadan yapılmış olan geometrik biçimlerdeki yedi adet parçayı bir araya getirerek çeşitli formlar oluşturma esasına dayalı yaratıcı bir zeka oyunudur. Hedeflenen form, geometrik bir şekil, hareket halindeki bir insan figürü, hayvan figürü, alfabedeki bir harf ya da benzeri bir şey olabilir. Hedef olarak belirlenen formu oluşturabilmek için, yedi parçanın tamamını kullanmak gerekir. Bu parçalar, farklı büyüklüklerdeki beş adet üçgen, bir adet kare ve bir adet paralelkenardır. Bu yedi parçanın Güneş, Ay, Mars, Jüpiter, Satürn, Merkür ve Venüs'ü temsil ettiği söylenmektedir. Çin'de geliştirilen bu oyunun ortaya çıkışı çok eski tarihlerde olmuştur.</p>
            </details>

            <details>
                <summary>Kaç çeşit zorluk var ve bunlar neler?</summary>
                <p>Oyunumuzda 3 adet zorluk bulunmaktadır, bunlar; kolay, orta ve zor olarak karşımıza çıkmaktadır.</p>
            </details>

            <details>
                <summary>Oyunda kaç adet puzzle bulunmakta?</summary>
                <p>Oyunumuzda her zorluk için 3 puzzle bulunmaktadır. Dolayısıyla toplam olarak 9 adet puzzle vardır.</p>
            </details>
        </div>

        <%- include('./partials/footer.ejs') %>
    </div>

    
    <script src="/js/menu-operations.js" defer></script>
</body>
</html>