<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/index.css" type="text/css">

    <body>

        <%- include('./partials/nav.ejs') %>

        <div class="container">
            
            <div class="title-container">
                <img src="/images/logo.png" alt="Logo" width="232" height="181">
                <h2 class="title">TANGRAM</h2>
            </div>

            <ul class="nav">
                <li class="nav-item">
                    <a href="/play">OYNA</a>
                </li>
                <li class="nav-item">
                    <a href="/developers">GELİŞTİRİCİLER</a>
                </li>
                <li class="nav-item">
                    <a href="/help">YARDIM</a>
                </li>
            </ul>
        </div>

        <script>
            $(document).ready(() => {
                // $('.box').draggable()
            })
        </script>
    </body>

</html>