<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<link rel="stylesheet" href="/css/index.css" type="text/css">

    <body>

        <!-- home -->
            <div class="container">
                <%- include('./partials/header.ejs') %>

                <div class="nav-container">
                    <ul class="nav">
                        <li class="nav-item">
                            <a href="/choose-level">OYNA</a>
                        </li>
                        <li class="nav-item">
                            <a href="/developers">GELİŞTİRİCİLER</a>
                        </li>
                        <li class="nav-item">
                            <a href="/help">YARDIM</a>
                        </li>
                    </ul>
                </div>

                <%- include('./partials/footer.ejs') %>
            </div>

            
        <!-- home end -->
        
            <script>
                const firstNav = $('.nav-item:nth-child(1)')
                const secNav = $('.nav-item:nth-child(2)')
                const thirdNav = $('.nav-item:nth-child(3)')

                $(document).ready(() => {
                    firstNav.css({
                        opacity: 1,
                        transform: 'translateY(0)'
                    })
                    secNav.css({
                        opacity: 1,
                        transform: 'translateY(0)'
                    })
                    thirdNav.css({
                        opacity: 1,
                        transform: 'translateY(0)'
                    })
                })
            </script>
    </body>

</html>