<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<link rel="stylesheet" href="/css/play.css">

<body>
    
    <%- include('./partials/menu.ejs') %>

    <div class="container">
        <%- include('./partials/header.ejs') %>

        <div class="content-container">
            <div class="sub-container">
                
            </div>
        </div>
    </div>

    <script src="/js/menu-operations.js" defer></script>
</body>
</html>