<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<link rel="stylesheet" href="/css/levels.css">

<body>
    
    <%- include('./partials/menu.ejs') %>

    <div class="container">
        <%- include('./partials/header.ejs') %>

        <div class="levels-container">
            <div class="sub-container">
               
                <!-- KOLAY LEVEL -->
                <div class="easy-level">
                    <h1 class="easy-title" style="writing-mode: tb-rl;">KOLAY</h1>
                    <ul class="levels">
                        <li>
                            <a href="/play?level=easy1"><strong>Kolay</strong> - Level 1</a>
                        </li>
                        <li>
                            <a href="/play?level=easy2"><strong>Kolay</strong> - Level 2</a>
                        </li>
                        <li>
                            <a href="/play?level=easy3"><strong>Kolay</strong> - Level 3</a>
                        </li>
                    </ul>
                </div>
                <!-- KOLAY LEVEL END -->

                <!-- ORTA LEVEL-->
                <div class="med-level">
                    <h1 class="med-title" style="writing-mode: tb-rl;">ORTA</h1>
                    <ul class="levels">
                        <li>
                            <a href="/play?level=med1"><strong>Orta</strong> - Level 1</a>
                        </li>
                        <li>
                            <a href="/play?level=med2"><strong>Orta</strong> - Level 2</a>
                        </li>
                        <li>
                            <a href="/play?level=med3"><strong>Orta</strong> - Level 3</a>
                        </li>
                    </ul>
                </div>
                <!-- ORTA LEVEL END -->

                <!-- HARD LEVEL -->
                <div class="hard-level">
                    <h1 class="hard-title" style="writing-mode: tb-rl;">ZOR</h1>
                    <ul class="levels">
                        <li>
                            <a href="/play?level=hard1"><strong>Zor</strong> - Level 1</a>
                        </li>
                        <li>
                            <a href="/play?level=hard2"><strong>Zor</strong> - Level 2</a>
                        </li>
                        <li>
                            <a href="/play?level=hard3"><strong>Zor</strong> - Level 3</a>
                        </li>
                    </ul>
                </div>
                <!-- HARD LEVEL END -->
            </div>  
        </div>

        <%- include('./partials/footer.ejs') %>
    </div>

    

    <script src="/js/menu-operations.js" defer></script>
</body>
</html>