<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/play.css">
<%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/menu.ejs') %>

    <div class="container">
        <%- include('./partials/header.ejs') %>



        <%- include('./partials/footer.ejs') %>
    </div>

    <script src="/src/menu-operations.js" defer></script>
</body>
</html>