@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700;900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: burlywood;
}

html {
    font-family: 'Poppins', sans-serif;
}

/* ----MENU---- */
.menu-icon {
    position: absolute;
    left: 3%;
    top: 5%;
    font-size: 1.5em;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    border: thin solid black;
    padding: .5em;
    cursor: pointer;
    transition: all .2s ease;
}

svg {
    transition: fill .2s ease;
}

.menu-icon:hover {
    background: black;
}

.menu-icon:hover svg {
    fill: white;
}

.menu {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.98);
    z-index: 1000;
    display: none;
    align-items: center;
    justify-content: center;
}

.close-menu-icon {
    display: inline-block;
    padding: 1em;
    text-align: center;
    position: absolute;
    top: 3%;
    right: 3%;
    color: white;
    font-weight: 700;
    font-size: 1.3em;
    cursor: pointer;
}

.menu-buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 40%;
    height: 60%;
}

.menu-buttons a {
    text-decoration: none;
    color: white;
    font-size: 2em;
    transition: border-bottom .2s ease;
}

.menu-buttons a:hover {
    border-bottom: thick solid white;
}

/* ----MENU END---- */

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* ----TITLE---- */
.title-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 2;
}

.title {
    letter-spacing: 10px;
    font-size: 64px;
    font-weight: 900;
}

.page {
    font-size: 2em;
    border-bottom: thin solid black;
    margin-top: .25em;
}

/* ----TITLE END---- */

/* ----DEVELOPER---- */
.developer-container {
    flex: 4;
    padding-top: 2em;
}

.sub-container {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    padding-top: 5em;
}

.dev-img {
    float: left;
    border-radius: 50%;
    margin: 1.5em;
}

.dev-title {
    text-align: left;
    font-size: 3em;
    font-weight: 900;
}

.dev-info {
    text-align: left;
    font-size: 1.5em;
    font-weight: 400;
}

/* ----DEVELOPER END---- */