@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700;900&display=swap');

/* common stylings */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: burlywood;
}

html {
    font-family: 'Poppins', sans-serif;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* common stylings end */

/* ----HELP---- */

.help-container {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3em;
}

.help-container details {
    border: thin solid black;
    padding: .5em;
    cursor: pointer;
    width: 50%;
}

.help-container summary {
    font-size: 1.3em;
}

.help-container p {
    margin-top: .5em;
}

/* ----HELP END */