@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700;900&display=swap');

/* common stylings */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: burlywood;
}

html {
    font-family: 'Poppins', sans-serif;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.levels a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
    transition: color .2s ease;
}

li {
    position: relative;
    padding: .5em;
    border: thin solid black;
    width: 75%;
    text-align: center;
    cursor: pointer;
    background-color: white;
    transition: background-color .2s ease;
    margin: 0 auto;
}

.sub-container h1 {
    font-size: 3.1em;
}

.levels {
    list-style-type: none;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

/* .easy-level,
.med-level,
.hard-level {
    height: 50%;
} */

/* common stylings end */

/* ----LEVELS CONTAINER---- */

.levels-container {
    flex: 4;
    width: 100%;
    padding: 2em;
}

/* ----LEVELS CONTAINER END */

/* ----SUB CONTAINER */

.sub-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    gap: 3em;
    padding-top: 10em;
}

/* ----SUB CONTAINER END */

/* ----EASY LEVEL */

.easy-level {
    width: 33%;
    height: 100%;
    display: flex;
}

/* ----EASY LEVEL END---- */

/* ----MED LEVEL---- */

.med-level {
    width: 33%;
    height: 100%;
    display: flex;
}

/* ----MED LEVEL END---- */

/* ----HARD LEVEL---- */

.hard-level {
    width: 33%;
    height: 100%;
    display: flex;
}

/* ----HARD LEVEL END---- */