/* ----MENU---- */
.menu-icon {
    position: absolute;
    left: 1%;
    top: 4%;
    font-size: 1.5em;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    border: thin solid black;
    padding: .5em;
    cursor: pointer;
    transition: all .2s ease;
}

svg {
    transition: fill .2s ease;
}

.menu-icon:hover {
    background: black;
}

.menu-icon:hover svg {
    fill: white;
}

.menu {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.98);
    z-index: 1000;
    display: none;
    align-items: center;
    justify-content: center;
}

.close-menu-icon {
    display: inline-block;
    padding: 1em;
    text-align: center;
    position: absolute;
    top: 3%;
    right: 3%;
    color: white;
    font-weight: 700;
    font-size: 1.3em;
    cursor: pointer;
}

.menu-buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 40%;
    height: 60%;
}

.menu-buttons a {
    text-decoration: none;
    color: white;
    font-size: 2em;
    transition: border-bottom .2s ease;
}

.menu-buttons a:hover {
    border-bottom: thick solid white;
}

/* ----MENU END---- */